<logging>

  <!--控制台开关-->
  <filter enabled="true">
    <tag>CONSOLE</tag>
    <level>debug|info|waring|error</level>
  </filter>


  <filter enabled="true">
    <tag>DEBUG</tag>
    <level>debug</level>
    <filename>/Users/lifei/Documents/golang/src/lflog/lifei_debug.log</filename>
    <format>[%D] [%L] [%S] %M</format>
  </filter>
  <!--
      %D - Date (2006-01-02 15:04:05)
      %L - Level (DEBG, INFO, WARN, EROR)
      %S - Source
      %M - Message
      It ignores unknown format strings (and removes them)
      Recommended: "[%D] [%L] (%S) %M"
   -->
  <filter enabled="true">
    <tag>INFO</tag>
    <level>info</level>
    <filename>/Users/lifei/Documents/golang/src/lflog/lifei_info.log</filename>
    <format>[%D] [%L] [%S] %M</format>
  </filter>

  <filter enabled="true">
    <tag>WARNING</tag>
    <level>warning</level>
    <filename>/Users/lifei/Documents/golang/src/lflog/lifei_warn.log</filename>
    <format>[%D] [%L] [%S] %M</format>
  </filter>

  <filter enabled="true">
    <tag>ERROR</tag>
    <level>error</level>
    <filename>/Users/lifei/Documents/golang/src/lflog/lifei_error.log</filename>
    <format>[%D] [%L] [%S] %M</format>
  </filter>
</logging>
